/*Dario Manzanedo Reja*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
html{
    font-size: 20px;
    text-align: center;
}
body{
    background-color: #ebeae9;
    font-family: "Oswald";
    margin: 0;
}
header{
    margin: 0;
    background-color: #21383f;
    color: #ebeae9;
    text-align: center;
}
#bighdtx{
    display: block;
    font-size: 4rem;
}
#hdlargo{
    height: 500px;
}
#hdcorto{
    height: 100px;
}
#logo{
    height: 100px;
    float: left;
}
.rrss{
    margin-top: 20px;
    margin-right: 20px;
    height: 40px;
    display: inline;
    float: right;
}
#hdtx{
    padding-top: 180px;
    margin: auto;
    font-size: 1.27rem;
}
.hdbtn{
    border: 2px solid #b75f93;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 15%;
    background-color: #b71f53;
    display: inline-block;
    margin-top: 4%;
}
.hdbtn:hover{
    border: 2px solid #b71f53;
    color: #ebeae9;
    background-color: #b75f93;
}
.confirm{
    border: 2px solid #b75f93;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 40%;
    background-color: #b71f53;
    display: inline-block;
    margin-top: 4%;
    height: 3rem;
    font-size: 1rem;
    font-family: Oswald;
}
.confirm:hover{
    border: 2px solid #b71f53;
    color: #ebeae9;
    background-color: #b75f93;
}
#main1col{
    padding: 1%;
    text-align: center;
}
#main1col p{
    margin: 0 auto 40px auto;
    width: 80%;
}
#main2col{
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}
#main2col div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
form label{
    margin: 0 10px;
}
form *{
    margin: 0 0 15px 0;
}
.textbox{
    background-color: #21383f;
    color: #ebeae9;
    height: 35px;
    width: 40%;
    font-family: Oswald;
    font-size: 1rem;
    text-align: center;
}
.rsexo{
    transform: scale(1.5);
    margin: 0 20px;
}
#cookiebox{
    /*display: none;*/
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1691ca;
    opacity: 90%;
    text-align: center;
    padding: 40px 0;
}
#cookiebtn{
    font-family: Oswald;
    font-size: 0.8rem;
    color: black;
    border: 2px solid #ebeae9;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.1%;
    width: 15%;
    background-color: #ebeae9;
    display: inline-block;
}
#cookiebtn:hover{
    border: 2px solid #21383f;
}
footer{
    padding-top: 100px;
    font-size: 0.7rem;
    text-align: center;
}
.error{
    display: inline-block;
    font-size: x-large;
    color: #b71f53;
    margin: 200px 0 40px 0;
}
.back{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #b71f53;
    border-radius: 10px;
    border: 2px solid #b75f93;
    font-weight: bold;
}
#logout{
    margin: 30px;
    float: right;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #b71f53;
    border-radius: 10px;
    border: 2px solid #b75f93;
    font-weight: bold;
}
#logout:hover{
    border: 2px solid #b71f53;
    background-color: #b75f93;
}
#leftnav{
    display: flex;
    flex-direction: column;
}
#leftnav2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.opc{
    border: 2px solid #b75f93;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 10%;
    background-color: #b71f53;
    display: inline-block;
    margin-top: 2%;
    height: 2rem;
    font-size: 1rem;
    font-family: Oswald;
}
.opc:hover{
    border: 2px solid #b71f53;
    background-color: #b75f93;
}
#opc1 {
    border: 2px solid #1691ca;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 10%;
    background-color: #168599;
    display: inline-block;
    margin-top: 2%;
    height: 2rem;
    font-size: 1rem;
    font-family: Oswald;
}
#opc1:hover{
    border: 2px solid #168599;
    background-color: #1691ca;
}
.listabox{
    width: 70%;
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
}
table{
    width: 100%;
    margin: auto;
}

th{
    font-size: 1.2rem;
}
td{
    text-align: center;
    font-size: 1.2rem;
    padding: 4px;
    background-color: white;
    border:1px solid #b75f93;
}
.del{
    float: right;
    margin: auto;
    width: 100%;
    height: auto;
}
.lasttd{
    width: 30px;
}
.new{
    border: 2px solid #1691ca;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 10%;
    background-color: #168599;
    display: inline-block;
    margin-bottom: 30px;
}
.new0{
    border: 2px solid #1691ca;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 10%;
    background-color: #168599;
    display: inline-block;
    margin-bottom: 30px;
}
.new:hover{
    border: 2px solid #168599;
    color: #ebeae9;
    background-color: #1691ca;
}
.add{
    border: 2px solid #1691ca;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    width: 10%;
    background-color: #168599;
    display: inline-block;
    margin: 50px;
    font-size: 1rem;
    font-family: Oswald;
}
.add:hover{
    border: 2px solid #168599;
    color: #ebeae9;
    background-color: #1691ca;
}
.act *{
    color: #ebeae9;
    background-color: #b71f53;
}
.opcasg{
    list-style-type: none;
    font-size: x-large;
    text-align: left;
}
.scroll{
    border: 5px solid #21383f;
    height: 500px;
    overflow: scroll;
    background-color: white;
    padding: 40px;
}
.ldiv{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.rdiv{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    flex: 5;
}
.startbt{
    font-family: Oswald;
    width: 100%;
    border: 2px solid #1691ca;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    background-color: #168599;
    height: 3rem;
    font-size: 1rem;
}
#main2{
    margin: 0 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.lnavopc{
    width: 100%;
    border: 2px solid #b75f93;
    border-radius: 8px;
    color: #ebeae9;
    text-decoration: none;
    padding: 0.5%;
    background-color: #b71f53;
    display: inline-block;
    margin-top: 6%;
    height: 3rem;
    font-size: 1rem;
    font-family: Oswald;
}
.lnavopc:first-child{
    border: 2px solid #1691ca;
    background-color: #168599;
}
.lnavopc:first-child:hover{
    border: 2px solid #168599;
    background-color: #1691ca;
}
.lnavopc:hover{
    border: 2px solid #b71f53;
    background-color: #b75f93;
}
.startbt:hover{
    border: 2px solid #168599;
    background-color: #1691ca;
}
#yourcam{
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 600px;
}

#chatbx{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #21383f;
    height: auto;
    color: #ebeae9;
}
#chat{
    flex: 15;
    height: 90%;
    width: 100%;
    overflow: scroll;
}
#chat::-webkit-scrollbar{
    display: none;
}
#remoteVideo{
    border-radius: 10px;
    border: 2px solid #b71f53;
    margin: auto;
    width: 80%;
}
#envio{
    flex: 1;
}
.mymsg{
    background-color: #168599;
    color: #ebeae9;
    text-align: right;
    border-radius: 20px;
    margin-left: 200px;
    border: none;
}
.youmsg{
    background-color: #b71f53;
    color: #ebeae9;
    text-align: left;
    border-radius: 20px;
    border: none;
}
#ftext input:first-child{
    margin: 0;
    flex: 5;

}
#ftext{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
#ftext input{
    margin: 0;
}
#imgld{
    overflow: visible;
    height: 100%;
    width: 100%;
}
#imgnld{
    display: none;
}
#localVideo{
    border-radius: 5px;
    border: 2px solid #1691ca;
    position: absolute;
    bottom: 100px;
    left: 200px;
    width: 10%;
}